APP_STORAGE_UPLOAD_DIR=uploads/items
APP_NOTIFICATIONS_ENABLED=false
APP_NOTIFICATIONS_PROVIDER=log
APP_NOTIFICATIONS_WHATSAPP_FROM=whatsapp:+14155238886
APP_NOTIFICATIONS_TWILIO_ACCOUNT_SID=
APP_NOTIFICATIONS_TWILIO_AUTH_TOKEN=
